
body{font-family: 'Poppins', sans-serif;
background-color: rgb(245, 245, 245);
}
.container{
    /* max-width: 1121px; */
    margin: 0 auto;
    /* background-color: yellow;
    
    border: 5px solid red; */
    padding: 30px;
}
/* @media (max-width:1200px) {
    .container{
        width: 85%;
    } */
    
.header_tag{
font-size: 50px;

}
.first_part_block{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    justify-content: center;
    
    grid-column-gap: 20px;
    
}


.top_part{
     
    /* background-color: red; */
    /* padding: 20px; */
    margin-left: 30px;
    /* border: 2px solid green; */
    /* margin: 30px 20px 20px 40px; */


}
.top_part_img img{
    /* background-color: salmon; */
   
    width: 80%;
    /* padding: 10px 10px;
    margin: 70px; */
    /* background-color: green; */
    transition: transform 2s ease-in-out;
}
.top_part_img:hover img{
transform:scale(1.5) rotate(180deg);
 

}
.button{
    background-color: #E02C6D; 
    color: white;
    text-decoration: none;
    /* margin-top: 200px; */
  padding: 15px 30px;
  border-radius: 205px;
  font-weight: 700;
  /* padding-bottom: 20px;   */
 
}
.fas .arw{
    padding-left: 1px;
}


  /* middle section------------------ */

  .h2_tag{

   text-align: center;
    /* background-color: salmon; */
  }
    .collection_items{
        background-color: white;
        margin: 5px;
        border: 2px solid white;
        padding: 20px;
        /* height: 329px;
        width: 476px; */

    }
    .collection_items img{
        height: 256px;
        width: 100%;
        
    }
    .middle_part{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr));      saju*/
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        /* margin: 20px; */
    }
    .fas.filled{
        color: #FB8200;
    }
   
    .see-more{
       
        display: flex;
        justify-content: flex-end;
    }
.middle_last_link{
    color: #E02C6D;
     font-weight: 700px;
      text-decoration: none;
       font-size: 20px;
       padding: 25px 0 0 0;
         margin-top: 25px;
}

.last_work{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
    justify-content: center;
    grid-column-gap: 20px;
    /* text-align: center; */
    /* background-color: #E02C6D; */
    
}
.mine{
     justify-content: center;
    padding: 30px;
}
.mine img{
    width: 80%;
     justify-content: center;
    
    /* margin-left: 100px; */
    
}

    footer{
        background-color: #0A0826;
        color: #D9DBE1;
        justify-content: center;
        text-align: center;
        padding: 20px;
        /* margin-top: 30px; */
        
    }
    .h3_tag{
        color: #FFFFFF;
    }


    /* @media (max-width:1200px) {
    .container{
        width: 85%;
    } */
    
    .fab .ft{
        padding-left: 5px;
        padding-left: 5px;
    }


    /* @media only screen and (max_width:688px){
        .first_part_block{

            display: grid;
            grid-template-columns: repeat(1,fr);
            background-color: #E02C6D;
        } */

          @media (min-width:806px) and (max-width:1000px) {

     .container{
        width: 80%;}
        .first_part_block{
            display: grid;
            grid-template-columns: repeat(2,fr);
            justify-content: center;
            align-items: center;
        }
        .middle_part{

            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
           
       }

         @media (max-width:805px) {
    .container{
        width: 80%;}
        .first_part_block{
            display: grid;
            grid-template-columns: 70%;
            grid-row-gap: 20px;
            justify-content: center;
            align-items: center;
        }
        .middle_part{

            display: grid;
            grid-template-columns: 1fr;
        }
        .last_work{
            display: grid;
            grid-template-columns: 1fr;
        }
    }